div.container {
  padding: 1%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

div.centered {
  width: 60%;
}

span.warning {
  color: var(--warning);
}
span.success {
  color: var(--success);
}

div.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.columns > .col {
  flex: 1;
}

div.columns > .col-1 {
  flex: 1;
  max-width: 10%;
}

div.columns > .col-2 {
  flex: 1;
  max-width: 20%;
}

div.columns > .col-3 {
  flex: 1;
  max-width: 30%;
}

div.columns > .col-4 {
  flex: 1;
  max-width: 40%;
}

div.columns > .col-5 {
  flex: 1;
  max-width: 50%;
}

div.columns > .col-6 {
  flex: 1;
  max-width: 60%;
}

div.columns > .col-7 {
  flex: 1;
  max-width: 70%;
}

div.columns > .col-8 {
  flex: 1;
  max-width: 80%;
}

div.columns > .col-9 {
  flex: 1;
  max-width: 90%;
}

div.columns > .col-10 {
  min-width: 100%;
}

div.col.board-list {
  max-width: 33%;
}

.btn {
  background-color: var(--button-bg);
  color: var(--button-font);
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
  font-weight: bold;
  padding: 5px;
  width: 100%;
}

.form {
  max-width: 80%;
}

.form .form-group {
  margin: 0.2rem 0;
  display: block;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form select,
select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.2rem;
  font-size: 1rem;
  background-color: var(--input-bg);
  color: var(--input-font);
  border: none;
}

.form textarea {
  resize: vertical;
  white-space: pre-wrap;
}

select {
  float: right;
  width: 20vh;
}

.btn:hover {
  opacity: 0.8;
}

div.calendar {
  top: 82px;
  left: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 100px;
}

.day {
  padding: 10px;
  min-width: 30vw;
  max-width: 30vw;
  border: 1px solid #2e2e2e;
}

.cdate,
.ctime {
  width: 100%;
  display: block;
  margin-bottom: 4px;
  border-radius: 2px;
  padding: 6px;
  white-space: normal;
}

.cdate {
  background-color: #2c2c2c;
  text-align: center;
}

.movie {
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
  display: block;
  border-left: 3px solid #ffd77e;
  background-color: #38332a;
}

.serie {
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
  display: block;
  border-left: 3px solid #dc7b8e;
  background-color: #2b2022;
}

.voting {
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
  display: block;
  border-left: 3px solid #7bdc88;
  background-color: #202b24;
}

.other {
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
  display: block;
  border-left: 3px solid #7b9adc;
  background-color: #22202b;
}
